* {
    padding: 0px;
    margin: 0px;
}

footer {
    background: #fff;
}

h1 {
    padding: 28px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 86px;
}

.input-surname {
    width: 300px;
    height: 55px;

    background: #817070;
    border: 3px solid #FFFFFF;
    text-align: center;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}

.input-surname::placeholder {
    color: #FFFFFF;
}

.table-column {
    margin-left: auto;
    margin-right: auto;

    margin-top: 64px;
}

.input-number {
    width: 130px;
    height: 55px;
    margin-bottom: 17px;
    margin-right: 116px;

    background: #817070;
    border: 3px solid #FFFFFF;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
}

.input-number::placeholder {
    color: #FFFFFF;
}

label {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    margin-right: 36px;

    text-align: center;

    color: #FFFFFF;
}

.answer {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    text-align: center;

    color: #FFFFFF;
}

.main-button {
    width: 190px;
    height: 55px;
    margin-top: 26px;
    margin-bottom: 35px;
    cursor: pointer;

    background: #FFFFFF;
    border: 3px solid #FFFFFF;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    text-transform: uppercase;

    color: #817070;
}

.main-button:hover {
    background: #817070;
    color: #FFFFFF;
}