*{
    margin: 0;
    padding: 0;
}



nav{
    display:flex;
    justify-content: space-between;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(129, 129, 129, 0.25);
    align-items: center;
}

.menu__ul {
    justify-content: flex-start;
    display:flex;
}

.header{

}

.menu__link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: -0.015em;
    text-transform: capitalize;

    color: #000000;
    text-decoration: none;
    margin: 40px;
}

.menu__link:hover{
    color: #05A88D;
}

.menu__logo{
    position: absolute;
    margin: 50%;
}

.logo {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    letter-spacing: -0.015em;

    color: #05A88D;
}

.container{
    justify-self: flex-end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
/* identical to box height */
    color: #05A88D;

    letter-spacing: -0.015em;

    margin-right: 70.5px;
}

.menu__signup {


    margin-right: 69.5px;
    border: 1px solid #05A88D;
    border-radius: 3px;
    padding: 12.5px;
}

.menu__login {

}

a {

}

.menu {

}